<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>{{label}}</mat-label>
  <mat-select disableOptionCentering [formControl]="elementsControl" multiple>

    <mat-select-trigger>
      <mat-chip-list>
        <mat-chip *ngFor="let element of elementsControl.value" [removable]="false" (removed)="onToppingRemoved(element)">
          {{element}}
        </mat-chip>
      </mat-chip-list>
    </mat-select-trigger>

    <mat-option *ngFor="let element of elementsList" [value]="element">{{element}}</mat-option>

  </mat-select>
</mat-form-field>
