/*.example-chip-list {
  width: 100%;
}
*/

.mat-chip {
  font-size: 14px;
  font-weight: 100;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}

mat-form-field {
  width: 100%;
}

