
h1 {
  margin: 0;
}


::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #fd9b28 !important;
}

// overwrite the ripple overlay on hover and click
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #fd9b28 !important;
}

@media screen and (max-width: 380px) {
  .card-auto {
    margin: 15px 0 !important;
  }
}

.card-auto {

  margin: 15px;

  mat-checkbox {
    margin-left: 10px;
  }
}

.card-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 720px;
  padding: 0 !important;
}

.info {
  list-style: none;
  padding-left: 15px;

  .info-title {
    font-size: 24px;
    padding-bottom: 15px;
    color: #616161;
  }

  .price {
    font-size: 22px;
    color: green;
  }
}

.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}



