<div *ngIf="!isLoading" class="card container-fluid">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="isLoading && user">

  <div class="card container-fluid ">
    <div class="row ">
      <div class="col-lg-12 col-xl-8 filter-panel">
        <div class="feature">
          <div class="container-fluid">
            <div class="form-group">
              <div class="row">

                <div class="col-lg-6 filter">
                  <label class="col-form-label" for="transportType">
                    {{"Transport-type"|translate}}
                  </label>
                  <app-multiselect-input
                    id="transportType"
                    [elements]="transportTypes"
                    [multiply]="false"
                    (selectedElementsChange)="selectBrands($event)"
                    [label]="('Transport-type'|translate)">
                  </app-multiselect-input>
                </div>

                <div class="col-lg-6 filter">
                  <label class="col-form-label" for="year">
                    {{"Year"|translate}}
                  </label>
                  <app-year-from-to-input id="year"
                                          [(yearFrom)]="yearFrom"
                                          [(yearTo)]="yearTo">
                  </app-year-from-to-input>
                </div>


              </div>
              <div class="row">

                <div class="col-lg-12 filter">
                  <label class="col-form-label" for="brand">
                    {{"Brand"|translate}}
                  </label>
                  <app-multiple-select-group-input
                    id="brand"
                    [(selectedElements)]="selectedBrands"
                    [disabled]="brandSelectDisable"
                    [elementsGroup]="brandsGroup"
                    (selectedElementsChange)="selectModelGroups($event)"
                    [label]="('Brand'|translate)">
                  </app-multiple-select-group-input>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-12 filter">
                  <label class="col-form-label" for="model">
                    {{"Model"|translate}}
                  </label>
                  <app-model-multi-select-group
                    id="model"

                    [label]="('Model'|translate)"
                    [elementsGroup]="modelGroups"
                    (selectedElementsChange)="selectModels($event)"
                    [disabled]="modelSelectDisable">
                  </app-model-multi-select-group>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="feature">
          <div class="container-fluid">
            <div class="form-group">
              <div class="row">

                <div class="col-lg-6 filter">
                  <label for="region" class="col-form-label">
                    {{"Region"|translate}}
                  </label>
                  <app-multiple-select-group-input
                    id="region"
                    [(selectedElements)]="selectedRegion"
                    [label]="('Region'| translate)"
                    [elementsGroup]="statesGroup"
                    (selectedElementsChange)="selectRegions($event)"></app-multiple-select-group-input>
                </div>

                <div class="col-lg-6 filter">
                  <label for="The-cost" class="col-form-label">
                    {{"The-cost"|translate}}
                  </label>
                  <app-from-to-input
                    id="the-cost"
                    [(elementFrom)]="priseFrom"
                    [(elementTo)]="priseTo"
                    [MatIcon]="'attach_money'">
                  </app-from-to-input>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="container-fluid">
            <div class="form-group">
              <div class="row">

                <div class="col-lg-12 filter">
                  <label class="col-form-label" for="transportType">
                    {{"Trade-type"|translate}}
                  </label>
                  <app-multiselect-input
                          id="tradeType"
                          [elements]="tradeTypes"
                          [multiply]="false"
                          (selectedElementsChange)="selectTypesTrade($event)"
                          [label]="('Trade-type'|translate)">
                  </app-multiselect-input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="submited" class="filter">
          <div class="alert alert-success col-lg-12">
            <strong>Успешно!</strong> Рассылка началась, ожидайте...
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="container-fluid">
              <div class="form-group" >
                <button mat-stroked-button (click)="search()" class="btn-primary">
                  {{"Search"|translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 filter-panel">
        <app-card-auto></app-card-auto>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!user">
  <div class="card container-fluid ">
    <div class="row ">
      <div class="col-lg-12 col-xl-12 filter-panel">
        <div class="feature">
          <div class="container-fluid">
            <div class="form-group">
              <div>
                <p>❗️ Поможем обменять Ваш автомобиль на сайте auto.ria.com (<a href="https://auto.ria.com/uk/">https://auto.ria.com/uk/</a>) в 10 раз быстрее!</p>
                <br>
                 <p>❗ Наш робот за 1 час работы разошлёт Ваше предложение обмена по заданным параметрам всем подходящим респондентам.</p>
                <br>
                <p>   📌 Вы указываете регион и диапазон цен, а мы добавляем Ваш автомобиль на обмен ко всем автомобилям на сайте AutoRIA по этим параметрам!
                </p>
                <br>
                <p>  👉 Отправляйте свое предложение десяткам тысяч автомобилистов во всей Украине или только в своем городе! </p>
                <br>
                 <p>  ⏰ Срок выполнения один час!</p>
                <br>
                <p>   ✅ Узнать как это работает - <a href="https://t.me/RIAobmen"> бесплатная консультация! </a>  </p>
                <br>
                  <p>  ☎️ Контакты: <a href="https://t.me/RIAobmen">@RIAobmen </a></p>
                <br>
                 <p>  👉 Проверьте avto-obmen в деле
                «Окно, ссылка»  </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="msg-cookie card" *ngIf="!isCookie">
    <div class="text-coc">
        <p class="col-11 mt-3 col-md-7">Мы используем ващи coockie файлы, чтоб вам было удобно использовать сайт!</p>

        <div class="form-group col-11 mt-2 col-md-3">
            <button mat-stroked-button type="button" class="btn-primary pl-5 pr-5" (click)="cookieUser()">Хорошо</button>
        </div>
    </div>


</div>
