.example-card {

  h1 {
    margin: 30px 30px 30px 30px;

  }

  margin-bottom: 427px;

  label {
    margin-left: 30px;

    input {
      border-color: #fd9b28;
      margin-top: 10px;
      margin-bottom: 30px;
    }

  }

  .btn {
    margin-left: 30px;
    margin-bottom: 0.3rem;
    border-color: #fd9b28;
    background: #fd9b28;

  }

}


