

  .navbar {
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: 8px;
    background: #fff;
    /* height: 70px;*/
    .navbar-brand {
      font-size: 35px;
      color: #232323;

    }

    .navbar-user {
      margin-right:40px ;
      display: flex;
      align-items: center;
      color: #fd9b28;
      font-size: 16px;

      .user-name {
        margin-right: 20px;
        color: #232323;
        background-color: white;

      }

      .nav-item {
        border-color: #fd9b28;
      }
      .btn-primary{
        font-size: 18px;
        border-color: #fd9b28;

      }
      .btn-primary:hover {
        font-size: 18px;
        color: white;
        background-color: #fd9b28;
        border-color: #fd9b28;
        box-shadow: #fd9b28;
      }

      .btn-primary.focus .btn-primary:focus{
        box-shadow: white;
      }

    }
  }

