
td:first-child {
  background: #c1c1c1;
  padding: 10px 20px;

}


.btn-form {
  background: #fff !important;
}

.img-fluid {
  border-radius: 10px;
}

.example-card {
  margin-bottom: 10px;
}

.a {
  margin-bottom: 15px;
}





