td:first-child {
  background: #c1c1c1;
  padding: 10px 20px;

}
.btn{
  border-color: #fd9b28;
  background: #fd9b28;
}
.btn-form {
  background: #fff !important;
}
.img-fluid{
  border-radius: 10px;
}
.example-card{
  margin-bottom: 107px;
}





