.cost-from{
  width:  50%;
  padding-right: 5px;
}.cost-to{
   width: 50%;
   padding-left: 5px;
 }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
