
.card-header {
  background-color: #f7f7f7;
  color: black;
}


.btn-link {
  color: black;

}

.register {
  color: #232323;
  background-color: white;
}

.btn-primary {
  color: #fd9b28;
  border-color: #fd9b28;

}

.btn-primary:hover {

  color: white;
  background-color: #fd9b28;
  border-color: #fd9b28;
  box-shadow: #fd9b28;
}

