/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 50px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 50px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  .example-button-row {
    display: flex;
    flex-direction: column;
    margin-top: 18px;

    button {
      background: white;
      outline: none;
      margin: 5px;
    }
    .mat-expansion-panel-header {
      height: 33.6px;
    }
    mat-expansion-panel {
      margin: 5px;
      border: 1px solid rgba(0, 0, 0, .12);
    }
    ::ng-deep .mat-expansion-panel-body{
      padding: 0;
    }
    mat-panel-title {
      justify-content: center !important;
    }
    mat-panel-title.mat-expansion-panel-header-title{
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: black;
      margin-right:auto;
    }
    a {
      color: #fd9b28;
    }

    .btn-primary {
      color: black;
    }

    .btn-primary:hover {
      color: white;
      background-color: #fd9b28;
      border-color: #fd9b28;
    }
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}


.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

