<div *ngIf="!isTrue" class="card">
  <h4 class="card-header">Авторизация</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="password">Пароль</label>
        <input id="password" type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Требуется пароль пользователя</div>
        </div>
      </div>
      <button [disabled]="loading" mat-stroked-button class="btn btn-primary" (click)="onSubmit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        {{"Sign-in-"| translate}}
      </button>

    </form>
  </div>
</div>


<mat-card *ngIf="isTrue" class="example-card">

  <mat-card-header>
    <div class="card-title">
      <h1>Мои объявления</h1>
    </div>
  </mat-card-header>
  <div class="row">
    <div class="col-lg-4">
      <div class="card-auto">
        <div class="row">
          <div class="col-lg-12 col-mb-6">
            <mat-card class="example-card">
              <img mat-card-image src="assets/img/maserati-levante.jpg" alt="Maserati Levante">
              <mat-card-content>
                <ul class="info">
                  <li class="info-title">
                    <span>Maserati</span>
                  </li>
                  <li>
                    <span class="price">50 508 $</span>
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-footer>
                <mat-checkbox ></mat-checkbox>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-auto">


        <mat-card class="example-card">
          <img mat-card-image src="assets/img/maserati.jpg" alt="Maserati">
          <mat-card-content>
            <ul class="info">
              <li class="info-title">
                <span>Maserati</span>
              </li>
              <li>
                <span class="price">50 508 $</span>
              </li>
            </ul>
          </mat-card-content>
          <mat-card-footer>
            <mat-checkbox ></mat-checkbox>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-auto">

        <mat-card class="example-card">
          <img mat-card-image src="assets/img/pininfarina-maserati.jpg" alt="Maserati">
          <mat-card-content>
            <ul class="info">
              <li class="info-title">
                <span>Maserati</span>
              </li>
              <li>
                <span class="price">120 650 $</span>
              </li>
            </ul>
          </mat-card-content>
          <mat-card-footer>
            <mat-checkbox ></mat-checkbox>

          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>





