<div *ngIf="!isTrue" class="card app-wrapper">
  <h4 class="card-header">{{"Authorization"| translate}}</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="autoRiaId">{{"auto-ria-id"|translate}}</label>
        <input id="autoRiaId" type="text" formControlName="autoRiaId" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.autoRiaId.errors }"/>
        <div *ngIf="submitted && f.autoRiaId.errors" class="invalid-feedback">
          <div *ngIf="f.autoRiaId.errors.required">Требуется имя пользователя</div>
        </div>
      </div>
      <div class="form-group">
        <label for="autoRiaKey">{{"auto-ria-key"|translate}}</label>
        <input id="autoRiaKey" type="password" formControlName="autoRiaKey" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.autoRiaKey.errors }"/>
        <div *ngIf="submitted && f.autoRiaKey.errors" class="invalid-feedback">
          <div *ngIf="f.autoRiaKey.errors.required">Требуется пароль пользователя</div>
        </div>
      </div>

      <button [disabled]="loading" mat-stroked-button class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        {{"Sign-in"| translate}}
      </button>
    </form>
  </div>
</div>


<mat-card *ngIf="isTrue" class="example-card">

  <mat-card-header>
    <div class="card-title">
      <h1>Мои объявления</h1>
    </div>
  </mat-card-header>
  <div class="row">
    <div class="col-lg-4">
      <div class="card-auto">
        <mat-card class="example-card" *ngFor="let car of adsUser">

          <img mat-card-image [src]='car.photoData.seoLinkF' alt="Maserati Levante">
          <mat-card-content>
            <ul class="info">
              <li class="info-title">
                <span>{{car.markName}}</span>
              </li>
              <li>
                <span class="price">$ {{car.USD}}</span>
              </li>
            </ul>
          </mat-card-content>
          <mat-card-footer>
            <mat-checkbox></mat-checkbox>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>

  </div>
</mat-card>





